{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container">
        <h1>Accounts</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.number }}</td>
                        <td>{{ account.receipt_set.count }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No accounts yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}