{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container">
        <h1>Expense Categories</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipt_set.count }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No expense categories yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}