{% extends 'base.html' %}

{% block content %}
<main>
  <div class="container">
    <h1 class="text-center mb-4">Create Category</h1>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Create</button>
        </form>
  </div>
</main>
{% endblock %}